.scoreBoard1{
	position: absolute;
	top: 2%; left: 2%;
	width: 200px; height: 100px;
	padding: 0.5rem;
	border: 1px solid #0a0a0a80;
	border-radius: 10px;
	box-sizing: border-box;
	background: #1f2c35b4;
	backdrop-filter: blur(5px);
  font-size: 20px;
	text-align: center;
	box-shadow: -1px -1px 10px #7560604d inset,
		2px 2px 20px #00000080;
}

.h3{
  color: #ddd;
  font-weight:100;
}

.scoreBoard2{
	position: absolute;
	top: 2%; 
  right: 2%;
	width: 200px; height: 100px;
	padding: 0.5rem;
	backdrop-filter: blur(5px);
	border: 1px solid #0a0a0a80;
	border-radius: 10px;
	box-sizing: border-box;
	background: #1f2c35b4;
  font-size: 20px;
	text-align: center;
	box-shadow: -1px -1px 10px #7560604d inset,
		2px 2px 20px #00000080;
}

.hearts{
  padding-top: 9px;
  font-size: 30px;
}